@tailwind base;
@tailwind components;
@tailwind utilities;

ActionBar {
  background-color: #ac0c0c;
  color: white;
}

GridLayout {
  background-color: #000;
}

.channel {
  border-radius: 8px;
  color: black;
  font-size: 8px;
  text-align: center;
  background-color: azure;
}

.channel-R1 {
  background-color: #FF0000;
}

.channel-R2 {
  background-color: #0000FF;
}

.channel-R3 {
  background-color: #00FF00;
}

.channel-R4 {
  background-color: #FFFF00;
}

.channel-R5 {
  background-color: #FFA500;
}

.channel-R6 {
  background-color: #800080;
}

.channel-R7 {
  background-color: #00FFFF;
}

.channel-R8 {
  background-color: #FF00FF;
}

.channel-L1 {
  background-color: #8B0000;
}

.channel-L2 {
  background-color: #00008B;
}

.channel-L3 {
  background-color: #006400;
}

.channel-L4 {
  background-color: #8C8C00;
}

.channel-L5 {
  background-color: #FF8C00;
}

.channel-L6 {
  background-color: #4B0082;
}

.channel-L7 {
  background-color: #008B8B;
}

.channel-L8 {
  background-color: #8B008B;
}

.medal {
  border-radius: 25%;
  background-color: white;
  color: black;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  width: 128px;
  height: 128px;
}

.medal-0 {
  background-color: #FFFF00;
}

.medal-1 {
  background-color: gold;
}

.medal-2 {
  background-color: silver;
}

.medal-3 {
  background-color: #cd7f32;
}