@tailwind base;
@tailwind components;
@tailwind utilities;

ActionBar {
  background-color: #ac0c0c;
  color: white;
}

GridLayout {
  background-color: #000;
}

.channel {
  border-radius: 8px;
  color: black;
  font-size: 8px;
  text-align: center;
  background-color: azure;
}

.medal {
  border-radius: 25%;
  background-color: white;
  color: black;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  width: 128px;
  height: 128px;
}

.medal-0 {
  background-color: #FFFF00;
}

.medal-1 {
  background-color: gold;
}

.medal-2 {
  background-color: silver;
}

.medal-3 {
  background-color: #cd7f32;
}

.medal-4,
.medal-5,
.medal-6,
.medal-7,
.medal-8 {
  background-color: transparent;
  color: white;
}